---
import type { CollectionEntry } from 'astro:content'
import Changelog from '@/components/Changelog/index.astro'
import Picture from '@/components/Picture/index.astro'
import PostActions from '@/components/PostActions/index.astro'
import PostMeta from '@/components/PostMeta/index.astro'
import RelatedPosts from '@/components/RelatedPosts/index.astro'
import Title from '@/components/Title/index.astro'
import Toc from '@/components/Toc.astro'
import LayoutBase from '@/layouts/Base/index.astro'
import styles from './index.module.css'

type Props = CollectionEntry<'articles'> & {
  lead?: string // comes in through remark plugin as html
  leadRaw?: string // comes in through remark plugin as plain text
  tableOfContents?: string // comes in through remark plugin as html
}

const { data, lead, leadRaw, tableOfContents } = Astro.props
const { title, date, updated, toc, githubLink, changelog } = data
const { image } = data as CollectionEntry<'articles'>['data']
---

<LayoutBase {...data} description={leadRaw}>
  <article class={styles.entry}>
    <header>
      <Title title={title} date={date} updated={updated} />
    </header>

    <div class={styles.lead} set:html={lead} />

    {
      image && (
        <div class={styles.imageWrapper}>
          <Picture
            class={styles.image}
            width={1028}
            height={460}
            src={image}
            alt={title}
          />
        </div>
      )
    }

    {toc && tableOfContents && <Toc tableOfContents={tableOfContents} />}

    <slot />

    {changelog && <Changelog repo={changelog} />}

    <PostMeta post={Astro.props} />

    <PostActions githubLink={githubLink as string} />

    <RelatedPosts post={Astro.props} />
  </article>
</LayoutBase>
