---
import '../../../styles/global.css'
import '../../../styles/imports.css'

import Footer from '@components/Footer/index.astro'
import Header from '@components/Header/index.astro'
import Typekit from '@components/core/Typekit.astro'
import config from '@config/blog.config.mjs'
import styles from './index.module.css'
import { getImage } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import logo from '@images/kremalicious512.png'
import SchemaOrg, { type Props as SchemaProps } from './SchemaOrg.astro'

type Props = {
  title?: string
  pageTitle?: string
  description?: string
  style?: string
  image?: ImageMetadata
  date?: Date
  updated?: Date
}

const { title, pageTitle, description, style, image, date, updated } =
  Astro.props

const titleFinal = title
  ? `${title} ¦ ${config.siteTitle}`
  : `${config.siteTitle} ¦ ${config.siteDescription}`

const descriptionFinal = description
  ? description.slice(0, 160)
  : config.siteDescription

const canonicalURL = `${Astro.site}${Astro.url.pathname.split('/')[1]}`

const imageFinal = image
  ? `${Astro.site}${(
      await getImage({ src: image, width: 800, format: 'jpg' })
    ).src.replace('/', '')}`
  : `${Astro.site}${logo}`

const schema: SchemaProps = {
  title: titleFinal,
  url: canonicalURL,
  image: imageFinal,
  description: descriptionFinal,
  ...(date && { datePublished: date.toISOString().substring(0, 10) }),
  ...(updated && { dateModified: updated.toISOString().substring(0, 10) })
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{titleFinal}</title>

    <link rel="canonical" href={canonicalURL} />
    <meta name="description" content={descriptionFinal} />
    <meta property="og:title" content={titleFinal} />
    <meta property="og:image" content={imageFinal} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={config.author.twitter} />

    <!-- <meta name="theme-color" content={themeColor} />
    <meta name="msapplication-TileColor" content={themeColor} /> -->
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="kremalicious RSS Feed"
      href="/feed.xml"
    />
    <link
      rel="alternate"
      title="kremalicious JSON Feed"
      type="application/json"
      href="/feed.json"
    />

    <SchemaOrg {...schema} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    {style && <link rel="stylesheet" href={style} />}
  </head>

  <body>
    <Typekit />
    <Header />

    <main class={styles.document} id="document">
      <div class={styles.content}>
        {pageTitle && <h1 class={styles.pagetitle}>{pageTitle}</h1>}
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>
