---
import '../../../styles/global.css'
import '../../../styles/imports.css'

import Footer from '@components/Footer/index.astro'
import Header from '@components/Header/index.astro'
import Typekit from '@components/core/Typekit.astro'
import styles from './index.module.css'

type Props = {
  title?: string
  pageTitle?: string
  description?: string
}

const { title, pageTitle, description } = Astro.props
import config from '@config/blog.config.mjs'

const titleFinal = title
  ? `${title} ¦ ${config.siteTitle}`
  : `${config.siteTitle} ¦ ${config.siteDescription}`
const descriptionFinal = description
  ? description.slice(0, 160)
  : config.siteDescription
const canonicalURL = Astro.site + Astro.url.pathname.replace('/', '')
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{titleFinal}</title>
    <meta name="description" content={descriptionFinal} />
    <meta property="og:title" content={title} />
    <!-- <meta property="og:image" content={image} /> -->
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={config.author.twitter} />

    <link rel="canonical" href={canonicalURL} />
  </head>
  <body>
    <Typekit />
    <Header />

    <main class={styles.document} id="document">
      <div class={styles.content}>
        {pageTitle && <h1 class={styles.pagetitle}>{pageTitle}</h1>}
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>
