---
import DateComponent from '@/components/Date/index.astro'
import { ExternalLink } from '@/images/components'
import styles from './index.module.css'

type Props = {
  linkurl?: string
  title: string
  date?: Date
  updated?: Date
  className?: string
}

const { linkurl, title, date, updated, className } = Astro.props
const linkHostname = linkurl ? new URL(linkurl).hostname : null
---

{
  linkurl ? (
    <>
      <h1
        class={`${styles.title} ${styles.titleLink} ${className && className}`}
      >
        <a href={linkurl} title={`Go to source: ${linkurl}`}>
          {title} <ExternalLink />
        </a>
      </h1>
      <div class={styles.linkurl}>{linkHostname}</div>
    </>
  ) : (
    <>
      <h1 class={`${styles.title} ${className && className}`}>{title}</h1>
      {date && <DateComponent date={date} updated={updated} />}
    </>
  )
}
