---
import Menu from '@components/Menu/index.astro'
import Search from '@components/Search/index.astro'
import ThemeSwitch from '@components/ThemeSwitch/index.astro'
import { Logo } from '@images/icons'
import styles from './index.module.css'
---

<header role="banner" class={styles.header}>
  <div class={styles.headerContent}>
    <a href="/" class={styles.title}>
      <Logo class={styles.logo} viewBox="0 0 191 36" /> kremalicious
    </a>

    <nav aria-label="Menu" class={styles.nav}>
      <ThemeSwitch />
      <Search />
      <Menu />
    </nav>
  </div>
</header>
