---
import logo from '@images/logo.svg'
import Menu from './Menu'
import Search from './Search'
import ThemeSwitch from './ThemeSwitch'
import styles from './index.module.css'
---

<header role="banner" class={styles.header}>
  <div class={styles.headerContent}>
    <a href="/" class={styles.title}>
      <img src={logo} class={styles.logo} /> kremalicious
    </a>

    <nav aria-label="Menu" class={styles.nav}>
      <ThemeSwitch />
      <Search />
      <Menu />
    </nav>
  </div>
</header>
