---
import PostTitle from './layouts/Post/Title.astro'
import styles from './PostTeaser.module.css'
import Picture from '@components/Picture/Picture.astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  post: CollectionEntry<'articles' | 'links'>
  hideDate?: boolean
}

const { post, hideDate } = Astro.props
const { slug } = post
const { title, date, updated, image } = post.data
---

<a class={styles.post} href={`/${slug}`}>
  {
    image ? (
      <Picture
        class={styles.image}
        image={image}
        alt={title}
        width={480}
        height={180}
        objectFit
      />
    ) : (
      <span class={styles.empty} />
    )
  }

  <PostTitle
    title={title}
    date={hideDate ? undefined : date}
    updated={updated}
    className={styles.title}
  />
</a>
