---
import { Github, Bitcoin } from '@images/components'
import Vcard from './Vcard.astro'
import styles from './index.module.css'
import config from '@config/blog.config'

const year = new Date().getFullYear()
const { name, url, github } = config.author
---

<footer role="contentinfo" class={styles.footer} id="footer">
  <Vcard />
  <section class={styles.copyright}>
    <p>
      &copy; 2005&ndash;
      {year + ' '}
      <a href={url} rel="me">
        {name}
      </a>
      <a href={`${github}/blog`}>
        <Github />View source
      </a>
      <a href="/thanks/">
        <Bitcoin />Say Thanks
      </a>
    </p>
  </section>
</footer>
