---
import { Image } from 'astro:assets'
import Networks from './Networks.astro'
import avatar from '@images/avatar.jpg'
import config from '@config/blog.config.mjs'
import styles from './Vcard.module.css'

const { author, rss, jsonfeed } = config
const { mastodon, twitter, github, name, uri } = author
const links = [mastodon, github, twitter, rss, jsonfeed]
---

<Image class={styles.avatar} src={avatar} width="80" height="80" alt="avatar" />

<p class={styles.description}>
  Blog of designer &amp; developer{' '}
  <a class="fn" rel="author" href={uri}>
    {name}
  </a>
</p>

<Networks links={links} />
